.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-r-start-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-rr-start-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-c-start-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-cr-start-start {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-r-center-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-rr-center-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-c-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-cr-center-start {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
}

.flex-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-r-end-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-rr-end-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-c-end-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-end-start {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-cr-end-start {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-r-between-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-rr-between-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-c-between-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-cr-between-start {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-around-start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-r-around-start {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-around-start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-rr-around-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-around-start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-c-around-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-around-start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-cr-around-start {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-r-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-rr-start-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-c-start-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-cr-start-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-r-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-rr-center-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-cr-center-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-r-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-rr-end-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-c-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-cr-end-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-r-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-rr-between-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-c-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-cr-between-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-r-around-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-rr-around-center {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-c-around-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-cr-around-center {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.flex-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-r-start-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-rr-start-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-c-start-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-start-end {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-cr-start-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-r-center-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-rr-center-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-c-center-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-cr-center-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
}

.flex-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-r-end-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-rr-end-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-c-end-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-cr-end-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-r-between-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-rr-between-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-c-between-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-cr-between-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-around-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-r-around-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-around-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-rr-around-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-around-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-c-around-end {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-around-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-cr-around-end {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-start-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-r-start-stretch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-start-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-rr-start-stretch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-start-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-c-start-stretch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-start-stretch {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-cr-start-stretch {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex-r-center-stretch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex-rr-center-stretch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}

.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex-c-center-stretch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.flex-center-stretch {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.flex-cr-center-stretch {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: stretch;
}

.flex-end-stretch {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-r-end-stretch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-end-stretch {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-rr-end-stretch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-end-stretch {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-c-end-stretch {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-end-stretch {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-cr-end-stretch {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: stretch;
}

.flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flex-r-between-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flex-rr-between-stretch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
}

.flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flex-c-between-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.flex-between-stretch {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.flex-cr-between-stretch {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: stretch;
}

.flex-around-stretch {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.flex-r-around-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.flex-around-stretch {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.flex-rr-around-stretch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: stretch;
}

.flex-around-stretch {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.flex-c-around-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.flex-around-stretch {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.flex-cr-around-stretch {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: stretch;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*# sourceMappingURL=index.css.map */
